.skel {
	font-size:16px;
	margin:0;
	padding:0;
	display:flex;
	justify-content:center;
	min-height:100vh;
	background-color:#512DA8;
}

.skel_item {
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	width:100%;
	padding:1rem;
}

#js-request {
	box-sizing:border-box;
	width:100%;
	border:1.5px solid #E040FB;
	border-radius:2px;
	height:2rem;
	padding:0;
	align-self:flex-end;
}
#js-request:focus {
	outline:none;
}
#js-request::-webkit-input-placeholder {
	text-align: center;
	color:#727272;
	text-transform:capitalize;
}
#js-request::-moz-placeholder {
	text-align: center;
	color:#727272;
	text-transform:capitalize;
}
#js-request:-ms-input-placeholder {
	text-align: center;
	color:#727272;
	text-transform:capitalize;
}
#js-request:-moz-placeholder {
	text-align: center;
	color:#727272;
	text-transform:capitalize;
}

#js-response {
	box-sizing:border-box;
	width:100%;
	align-self:flex-start;
	color:#212121;
	margin-top:2rem;
	background-color:#D1C4E9;
	border-radius:2px;
	height:4rem;
	display:flex;
	justify-content:center;
	align-items:center;
}

@media all and (max-width:19.5rem) {
	.skel_item {
		padding:0 .5rem;	
	}
}

@media all and (min-width:20rem) {
	.skel_item {
		background-color:#673AB7;
		padding:1rem 2rem;
		border-radius:3px;
		width:75%;
		margin:0 auto;
		margin:2rem;
	}
}

@media all and (min-width:30rem) {
	.skel_item {
		padding:2rem 4rem;
		width:50%;
	}
}
